@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    overflow-x: hidden;
    cursor: none; /* Hide the default cursor */
}

.gradient-text {
     background: linear-gradient(to right, #000055, #2448AA);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
   }

.gradient-background {
  background: linear-gradient(
    135deg,
    #000428 0%,
    #004e92 100%
  );

}







